<!--<div id="Carousel3" class="carousel slide" data-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#Carousel3" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#Carousel3" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#Carousel3" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100 h-25 card-imageè-carr" src="../../../assets/images/image3.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100 h-25" src="../../../assets/images/image3.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100 h-25" src="../../../assets/images/image3.jpg" alt="Third slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#Carousel3" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#Carousel3" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>-->
<!-- <div class="row">
    <div class="col-12 col-md-7">
      <div class="card border-0 text-center">
          <div class="profile-thumbnail mx-auto"style="width: 8rem; height: auto;">
              <img class="card-img-profile"  src="../../../assets/images/identity_card.png" class="card-img-top rounded-circle shadow border-0" alt="Benjamin Portrait">
          </div>
          <div class="card-body">
              <h3 class="h5 card-title mb-2">Benjamin West</h3>
              <span class="card-subtitle text-gray fw-normal">Web Developer</span>
              <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0">
                  <li>
                      <a href="#" target="_blank" aria-label="facebook social link" class="icon icon-xs icon-facebook me-3 text-decoration-none">
                          <span class="fab fa-facebook-f"></span>
                      </a>
                  </li>
                  <li>
                      <a href="#" target="_blank" aria-label="twitter social link" class="icon icon-xs icon-twitter me-3 text-decoration-none">
                          <span class="fab fa-twitter"></span>
                      </a>
                  </li>
                  <li>
                      <a href="#" target="_blank" aria-label="slack social link" class="icon icon-xs icon-slack me-3 text-decoration-none">
                          <span class="fab fa-slack-hash"></span>
                      </a>
                  </li>
                  <li>
                      <a href="#" target="_blank" aria-label="dribbble social link" class="icon icon-xs icon-dribbble me-3 text-decoration-none">
                          <span class="fab fa-dribbble"></span>
                      </a>
                  </li>
              </ul>
          </div>
      </div>
    </div>
  </div>-->