@import '~@fortawesome/fontawesome-free/css/all.css';


.section-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70vh;
    background-color: transparent;
    align-items: center;
}
.card-img-top {
    width: 100%; /* Largeur maximale de l'image est égale à la largeur de la carte */
    height: 200px; /* Hauteur fixe de l'image (à ajuster selon vos préférences) */
    object-fit: cover; /* Redimensionne l'image pour remplir la zone en gardant ses proportions */
    object-position: center; /* Centre l'image dans la zone de l'image */
}

@media (max-width: 900px) { 
    .section-2 {
        height: auto;
        padding: 20px;
        flex-wrap: wrap;
    }
    .card {
        margin-bottom: 20px;
    }
 }

